
ion-tab-button{
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    max-width: 320px !important;
    img{
        height: 60%;
        width: 20%;
    }
    span{
        font-size: 30px;
        font-family: "7seg";
    }
}
.tab-selected{
    background: antiquewhite !important;
}
